@{
    Layout = "~/_xuejiLayout.cshtml";
    //这里是和JS差不多的一个偷懒变量定义方法，用var来定义
    var exname = "";
    var exdate = DateTime.Now;
    var extype = "";


    //这里吧，是说咱们在页面上填写的信息，怎么特么的就跑到程序里面来了呢？
    exname = Request.Form["exname"];
    exdate = Convert.ToDateTime(Request.Form["exdate"]);
    //exdate = Request.Form["exdate"].AsDateTime;
    extype = Request.Form["extype"];

    if (IsPost)
    {
        //这句吧，就是打开这个SQLCE数据库，这个SQLCE用法跟SQL没啥太大区别，就是不用用户名密码和IP了
        var db = Database.Open("StarterSite");
        //这里写清楚了所谓的顺序
        var insertCommand = "INSERT INTO exams (exname,exdate,extype) Values(@0, @1,@2)";
        //这句就是写如何插入到数据库，并且告诉程序要插入的数据都从哪里来的，也就是都从哪几个变量来了
        db.Execute(insertCommand, exname, exdate,extype);
    }
}
<ul class="breadcrumb">
    <li>
        <i class="icon-home"></i>
        <a href="~/index.cshtml">控制面板</a>
        <i class="icon-angle-right"></i>
    </li>
    <li>
        <a href="#">添加考试</a>
    </li>
</ul>
<form method="post">
    <fieldset>
        <legend>考试信息</legend>
        <p>
        <label for="exname">考试名称：</label>
        <input type="text" id="exname" name="exname" value=""/>

        <div class="control-group">
            <label class="control-label" for="exdate">考试日期：</label>
            <div class="controls">
                <input type="text" class="input-xlarge datepicker" id="exdate" name="exdate" value="@Functions.PutDate()">
            </div>
        </div>

        <p>
            <label for="extype">考试类型：</label>
            <select id="extype" name="extype">
                <option value="1">期末考试</option>
                <option value="2">期中考试</option>
                <option value="3">月考</option>
                <option value="4">周考</option>
                <option value="5">随堂测验</option>
                <option value="6">成人高考</option>
                <option value="7">自学考试</option>
                <option value="8">成人专升本</option>
                <option value="9">自考专升本</option>
                <option value="10">大学英语四级</option>
                <option value="11">学位英语</option>
            </select>        </p>
        <p>
            <input type="submit" name="buttonSubmit" value="添加课程"/>
        </p>

    </fieldset>
</form>