@{
    Layout = "~/_xuejiLayout.cshtml";
    //这里是和JS差不多的一个偷懒变量定义方法，用var来定义
    var exams_name = "";
    var exams_date = DateTime.Now;
    var exams_type = "";


    //这里吧，是说咱们在页面上填写的信息，怎么特么的就跑到程序里面来了呢？
    exams_name = Request.Form["exams_name"];
    exams_date = Convert.ToDateTime(Request.Form["exams_date"]);
    //exams_date = Request.Form["exams_date"].AsDateTime;
    exams_type = Request.Form["exams_type"];

    if (IsPost)
    {
        //这句吧，就是打开这个SQLCE数据库，这个SQLCE用法跟SQL没啥太大区别，就是不用用户名密码和IP了
        var db = Database.Open("StarterSite");
        //这里写清楚了所谓的顺序
        var insertCommand = "INSERT INTO exams (exams_name,exams_date,exams_type) Values(@0, @1,@2)";
        //这句就是写如何插入到数据库，并且告诉程序要插入的数据都从哪里来的，也就是都从哪几个变量来了
        db.Execute(insertCommand, exams_name, exams_date,exams_type);
    }
}
<ul class="breadcrumb">
    <li>
        <i class="icon-home"></i>
        <a href="~/index.cshtml">控制面板</a>
        <i class="icon-angle-right"></i>
    </li>
    <li>
        <a href="#">添加考试</a>
    </li>
</ul>
<form method="post">
    <fieldset>
        <legend>考试信息</legend>
        <p>
        <label for="exams_name">考试名称：</label>
        <input type="text" id="exams_name" name="exams_name" value=""/>

        <div class="control-group">
            <label class="control-label" for="exams_date">考试日期：</label>
            <div class="controls">
                <input type="text" class="input-xlarge datepicker" id="exams_date" name="exams_date" value="@Functions.PutDate()">
            </div>
        </div>

        <p>
            <label for="exams_type">考试类型：</label>
            <select id="exams_type" name="exams_type">
                <option value="1">期末考试</option>
                <option value="2">期中考试</option>
                <option value="3">月考</option>
                <option value="4">周考</option>
                <option value="5">随堂测验</option>
                <option value="6">成人高考</option>
                <option value="7">自学考试</option>
                <option value="8">成人专升本</option>
                <option value="9">自考专升本</option>
                <option value="10">大学英语四级</option>
                <option value="11">学位英语</option>
            </select>        </p>
        <p>
            <input type="submit" name="buttonSubmit" value="添加课程"/>
        </p>

    </fieldset>
</form>