@{
    Layout = "~/_xuejiLayout.cshtml";


}
<form action="~/cha2" method="post">

    <fieldset>
        <legend>查阅成绩</legend>
        <input type="text" name="students_number" id="students_number" value="" placeholder="在此输入学号" />
        <input type="text" name="students_phone" id="students_phone" value="" placeholder="在此输入电话" />
        <input type="submit" class="btn btn-primary" value="点此查阅成绩" />
    </fieldset>
</form>

