@{
    var classes_year = "";
    var majors_name = "";
    var cid = "";
    if (!IsPost)
    {
        if (!Request.QueryString["ID"].IsEmpty() && Request.QueryString["ID"].IsInt())
        {

            cid = Request.QueryString["ID"];
            var db = Database.Open("startersite");
            var dbCommand = "select classes.cid as cid,classes.classes_year as classes_year,majors.majors_name as majors_name from classes join majors on classes.majors_id=majors.id where cid = @0";
            var row = db.QuerySingle(dbCommand, cid);
            if (row != null)
            {
                classes_year = row.classes_year.ToString();
                majors_name = row.majors_name;
            }
            else
            {
                Validation.AddFormError("没有找到此班级.");
            }
        }
        else
        {
            Validation.AddFormError("没有找到此班级.");
        }
    }
    //两个条件：第一，这是一个POST请求，第二，这是由一个叫做buttonDelete的按钮提交的请求
    if (IsPost && !Request["buttonDelete"].IsEmpty())
    {
        cid = Request.Form["cid"];
        var db = Database.Open("startersite");
        var deleteCommand = "DELETE FROM classes WHERE cid = @0";
        db.Execute(deleteCommand, cid);
        Response.Redirect("~/classes");
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>删除班级信息</title>
</head>
<body>
<h1>删除班级信息</h1>
@Html.ValidationSummary()
<p><a href="~/classes">返回班级列表</a></p>

<form method="post">
    <fieldset>
        <legend>班级信息</legend>

        <p>
            <span>@classes_year</span>
            <span>@majors_name</span>
        </p>



        <input type="hidden" name="cid" value="@cid" />
        <p><input type="submit" name="buttonDelete" value="确认删除" /></p>
    </fieldset>
</form>
</body>
</html>