@{Layout = "~/_xuejiLayout.cshtml";
}

<ul class="breadcrumb">
    <li>
        <i class="icon-home"></i>
        <a href="#">控制面板</a>

</ul>
<p>
    <a href="students">学生信息</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="students_add">添加学生信息</a>
</p>
<p>
    <a href="classes_list">班级信息</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="classes_add">添加班级信息</a>
</p>
<p>
    <a href="majors_list">专业信息</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="majors_add">添加专业信息</a>
</p>
<p>
    <a href="/teachers_list">教师信息</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/teachers_add">添加教师信息</a>
</p>
