@{
    Layout = "~/_xuejiLayout.cshtml";
    var majors_name = "";
    majors_name = Request.Form["majors_name"];

    if (IsPost)
    {
        var db = Database.Open("StarterSite");
        var insertCommand = "INSERT INTO majors (majors_name) Values(@0)";
        db.Execute(insertCommand, majors_name);
    }
}
<ul class="breadcrumb">
    <li>
        <i class="icon-home"></i>
        <a href="~/index.cshtml">控制面板</a>
        <i class="icon-angle-right"></i>
    </li>
    <li><a href="#">添加专业</a></li>
</ul>
<form method="post">
    <fieldset>
        <legend>专业信息</legend>
        <p>
            <label for="majors_name">专业名称：</label>
            <input id="majors_name" type="text" name="majors_name" value=""/>
        </p>
        <p>
            <input type="submit" name="buttonSubmit" value="添加专业"/>
        </p>
    </fieldset>
</form>
<p>
    <a href="~/majors_list"></a>
</p>
